<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <center><h1>Hello my name is <%= name %> you should check my song <a href="<%= link %>"><%= songName %></a></h1></center>
  </body>
</html>